.Product-container {
  display: flex;
  flex-direction: column;
  margin: 5vh 3vw 5vh 3vw;
  padding: 2vh 2vw;
}

.main-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5vh 3vw 5vh 3vw;
  padding-bottom: 5vh;
  border-bottom: rgb(63, 63, 63) 2px solid;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-left: 0vw;
  padding: 1em;
  background-color: white;
}

.buying {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 0vw;
  padding: 1em;
  background-color: white;
}

.price {
  font-size: 1.1em;
}

.add-btn {
  max-height: 8vh;
}
.MuiButton-outlined {
  padding: 0;
}

.reviews-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.reviews {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 0;
  min-width: 50vw;
}

.reveiews-body {
  margin: 0;
  padding: 0;
}

.review-container {
  margin: 0;
  padding: 0.5em;
}

.review-text {
  margin-left: 1em;
}
